

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "img_parallax2_bis.jpg" %>');">
  <div class="banner-content">
     <h1>About Ncode</h1>
  </div>
</div>

<div class="container text-center padded features_abt">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <a href="https://www.linkedin.com/in/amaelbeghinstein/"><img src="<%= image_path "amael.png" %>" alt=""></a>
        <h2>Amael Beghin Stein</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
        <br><br />
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div data-aos="zoom-in-down" data-aos-duration="3000">
        <img src="<%= image_path "agency.jpg" %>" alt="">
        <h2>About Ncode</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
        <br><br />
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <a href="https://www.linkedin.com/in/anthony-hamou-a4b6151/"><img src="<%= image_path "anthony.png" %>" alt=""></a>
        <h2>Anthony Hamou</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
        <br><br />
      </div>
    </div>
  </div>
</div>

<div class="container about text-center features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="flip-right" data-aos-duration="500">
          <img src="<%= image_path "recast.jpg" %>" alt="">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div data-aos="flip-right" data-aos-duration="1250">
        <img src="<%= image_path "linkbynet.jpg" %>" alt="">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div data-aos="flip-right" data-aos-duration="2000">
        <img src="<%= image_path "mystartup.png" %>" alt="">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div data-aos="flip-right" data-aos-duration="2750">
        <img src="<%= image_path "FT_logo-04.jpg" %>" alt="">
      </div>
    </div>
  </div>
</div>



<!-- Your map code -->
<div id="map" style="width: 100%;height: 500px;"></div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(48.897095,2.289216);
    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
    };
    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"You are here!"
    });
  </script>


<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


