

<div class="bgimg-1" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "mm1.jpg" %>');">
  <div class="banner-content">
    <!-- <div class="caption"> -->
<!--       <span class="border"> -->
        <h1>CollaWood by Maia</h1>
        <p>
          <span id="banner-typed-text"></span>
        </p>

        <a href="mailto:amael@ncode.ai" class="btn btn-success btn-lg">Rencontrons-nous!</a>

<!--       </span> -->
    <!-- </div> -->

  </div>

</div>


<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">

  <div id="feat" class="container text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img src="<%= image_path "mm8.jpg" %>" alt="">
          <h2>Organisation Horizontale</h2>
          <p></p>
        <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "mm9.jpg" %>" alt="">
          <h2>Mutualisation des compétences</h2>
          <p></p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "mm10.jpg" %>" alt="">
          <h2>Association d'Artisans experts</h2>
          <p></p>
          <br><br />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="fade-up-right">
          <img src="<%= image_path "mm6.jpg" %>" alt="">
          <h2>Centre de production hyper équipé</h2>
          <p></p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
          <img src="<%= image_path "mm13.jpg" %>" alt="">
          <h2>Bureaux et espaces communs</h2>
          <p></p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
          <img src="<%= image_path "mm15.jpg" %>" alt="">
          <h2>Véhicules utilitaires à disposition</h2>
          <p></p>
          <br><br />
        </div>
      </div>

    </div>
  </div>


</div>

<div class="bgimg-2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "mm2.jpg" %>');">
  <div class="caption">
    <div data-aos="flip-left" data-aos-duration="1000">
      <a href="mailto:amael@ncode.ai" class="btn btn-success btn-lg">Rencontrons-nous!</a>
    </div>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">

    <div class="container text-center padded chatbot">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <img src="<%= image_path "mm17.jpg" %>" class="chatbot" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <img src="<%= image_path "mm18.jpg" %>" alt="">
          </div>
          <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
            <h2>L'union fait la force!</h2>
            <p>Nouveau modèle organisé autour d'une équipe d'artisans experts associés</p>
          </div>
          <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
            <h2>Modèle Gagnant!</h2>
            <p>Chaque membre de l'assocition apporte ses compétences techniques et sa capacité d'apporteur d'affaires, ainsi fini les phases de baisse d'activité</p>
          </div>
            <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
            <h2>Un outil de production à la pointe</h2>
            <p>Les membres accèdent à une capacité de production innaccessible seul</p>
          </div>
        </div>
      </div>
    </div>
    <br><br />

  </div>
</div>

<div class="bgimg-3" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "mm3.jpg" %>');">
  <div class="caption">
    <div data-aos="flip-up" data-aos-duration="1000">
      <a href="mailto:amael@ncode.ai" class="btn btn-success btn-lg">Comment devenir membre?</a>
    </div>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <h2><center>En Chiffres!</center></h2>
    <div class="container text-center padded features_key_nb">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-up-right">
          <img src="<%= image_path "mm5.jpg" %>" alt="">

          <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='10' data-delay='10' data-increment="1">0</div></h1><h2>Machines</h2>

          <p>Machines à commandes numériques et autres</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
          <img src="<%= image_path "mm11.jpg" %>" alt="">

          <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='20' data-delay='11' data-increment="1">0</div></h1><h2>Machines portatives</h2>

          <p>Electro portatifs (scies, perceuses, visseuses...)</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
          <img src="<%= image_path "mm14.jpg" %>" alt="">

          <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='2' data-delay='3' data-increment="1">0</div></h1><h2>Camions</h2>

          <p>1 Renault Expert et 1 Peugeot ...</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-up-left">
          <img src="<%= image_path "mm16.jpg" %>" alt="">

          <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='800' data-delay='4' data-increment="1">0</div></h1><h2>m2 de centre de production</h2>

          <p>dont 60m2 de bureaux et espaces communs</p>
          <br><br />
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="bgimg-1" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "mm4.jpg" %>');">


        <div class="container text-center padded">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <div data-aos="zoom-in">
            <a href="mailto:amael@ncode.ai" class="btn btn-success btn-lg">Discutons de notre association!</a>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="lib/jquery-1.10.2.min.js"></script>
<script src="jquery.numscroller-1.0.js"></script>
<script src="lib/prism.js"></script>


  <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>

