<div class="banner_oth" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "img_parallax2.jpg" %>');">
  <div class="banner-content_oth">
     <h1>Our Work</h1>
  </div>
</div>

<div class="container text-center padded features_tem">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <!-- <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"> -->

        <div data-toggle="modal" data-target="#myModal"><a href="#myGallery"><img src="<%= image_path "web_design.jpg" %>"><br>
        </a></div>

                        <!--begin modal window-->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="pull-left">WebSites Development</div>
                <button type="button" class="close" data-dismiss="modal" title="Close">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
              <div class="modal-body">

              <!--begin carousel-->
                <div id="myGallery" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <div class="item active"><img src="<%= image_path "conception.jpg" %>" alt="item0">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 0  description.</p>
                      </div>
                    </div>
                    <div class="item"><img src="<%= image_path "seo.jpg" %>" alt="item1">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 1 description.</p>
                      </div>
                    </div>
                    <div class="item"><img src="<%= image_path "maintenance.jpg" %>" alt="item2">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 2  description.</p>
                      </div>
                    </div>

                  </div><!--end carousel-inner-->
                    <!--Begin Previous and Next buttons-->
                  <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control" href="#myGallery" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div><!--end carousel-->

              </div><!--end modal-body-->
              <div class="modal-footer">
                <div class="pull-left">
                  <!-- <small>Photographs by <a href="https://placeimg.com" target="new">placeimg.com</a></small> -->
                </div>
                <button class="btn-sm close" type="button" data-dismiss="modal"></button>
              </div><!--end modal-footer-->
            </div><!--end modal-content-->
          </div><!--end modal-dialoge-->
        </div><!--end myModal-->

        <h2>WebSites</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
        <br><br />
      <!-- </div> -->
    </div>

    <div class="col-xs-12 col-sm-4">
      <div data-aos="zoom-in-down" data-aos-duration="3000">

        <div data-toggle="modal" data-target="#myModal"><a href="#myGallery"><img src="<%= image_path "chatbot.jpg" %>"><br>
        </a></div>

                        <!--begin modal window-->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="pull-left">ChatBots Development</div>
                <button type="button" class="close" data-dismiss="modal" title="Close">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
              <div class="modal-body">

              <!--begin carousel-->
                <div id="myGallery" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <div class="item active"><img src="<%= image_path "agency.jpg" %>" alt="item0">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 0  description.</p>
                      </div>
                    </div>
                    <div class="item"><img src="<%= image_path "img_parallax2_bis.jpg" %>" alt="item1">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 1 description.</p>
                      </div>
                    </div>
                    <div class="item"><img src="https://placeimg.com/600/400/nature/3" alt="item2">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 2  description.</p>
                      </div>
                    </div>

                  </div><!--end carousel-inner-->
                    <!--Begin Previous and Next buttons-->
                  <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control" href="#myGallery" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div><!--end carousel-->

              </div><!--end modal-body-->
              <div class="modal-footer">
                <div class="pull-left">
                  <!-- <small>Photographs by <a href="https://placeimg.com" target="new">placeimg.com</a></small> -->
                </div>
                <button class="btn-sm close" type="button" data-dismiss="modal"></button>
              </div><!--end modal-footer-->
            </div><!--end modal-content-->
          </div><!--end modal-dialoge-->
        </div><!--end myModal-->

        <h2>ChatBots</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
        <br><br />
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">

        <div data-toggle="modal" data-target="#myModal"><a href="#myGallery"><img src="<%= image_path "ecommerce.jpg" %>"><br>
        </a></div>

                        <!--begin modal window-->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="pull-left">Platforms Development</div>
                <button type="button" class="close" data-dismiss="modal" title="Close">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
              <div class="modal-body">

              <!--begin carousel-->
                <div id="myGallery" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <div class="item active"><img src="<%= image_path "agency.jpg" %>" alt="item0">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 0  description.</p>
                      </div>
                    </div>
                    <div class="item"><img src="<%= image_path "img_parallax2_bis.jpg" %>" alt="item1">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 1 description.</p>
                      </div>
                    </div>
                    <div class="item"><img src="https://placeimg.com/600/400/nature/3" alt="item2">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 2  description.</p>
                      </div>
                    </div>

                  </div><!--end carousel-inner-->
                    <!--Begin Previous and Next buttons-->
                  <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control" href="#myGallery" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div><!--end carousel-->

              </div><!--end modal-body-->
              <div class="modal-footer">
                <div class="pull-left">
                  <!-- <small>Photographs by <a href="https://placeimg.com" target="new">placeimg.com</a></small> -->
                </div>
                <button class="btn-sm close" type="button" data-dismiss="modal"></button>
              </div><!--end modal-footer-->
            </div><!--end modal-content-->
          </div><!--end modal-dialoge-->
        </div><!--end myModal-->

        <h2>Platforms</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
        <br><br />
      </div>
    </div>
  </div>
</div>



<!--Bootstrap-->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!--Latest stable release of jQuery Core Library-->
<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>

<!--Bootstrap JS-->
<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script> -->

